@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}
@layer base {
  @font-face {
    font-family: 'BagossTRIALVF';
    src: url('/fonts/BagossTRIALVF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sohne-Buch';
    src: url('/fonts/Sohne/Sohne-Buch.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.floating-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 24px;
  z-index: 1000; /* Ensures it stays on top */
  transition: opacity 0.3s ease; /* Smooth transition for showing/hiding */
}